HOSTNAME = localhost
TIMEOUT = 30000

HTTP_PORT = 80
HTTP_TO_HTTPS = false

HTTPS_PORT = 443
# HTTPS_KEY = private_key
HTTPS_KEY_FILE = ./sec/privatekey.key
# HTTPS_CERT = certificate
HTTPS_CERT_FILE = ./sec/certificate.crt
