<!DOCTYPE html>
<html>
	<head>
		<title>Error {{code}}</title>
		<style>body{background: #f7f7f7;font-family:'Arial';margin:3.5em}body *{margin:0}h1{color: #d10000}p{font-weight: bold}</style>
	</heda>
	<body>
		<h1>Error {{code}}</h1>
		<p>{{message}}</p>
	</body>
</html
