<!DOCTYPE html>
<html>
<head>
	<title>Error {{error.code}}</title>
	<style>body{background: #f7f7f7;font-family:'Arial';margin:3.5em}body *{margin:0}h1{color: #d10000}p{font-weight: bold}</style>
</head>
<body>
	<h1>Error {{error.code}}</h1>
	<h2>{{error.message}}</h2>
	<div>{{error.stack.split('\n').slice(1).join('<br>') | safe}}</div>
</body>
</html>
